
<h1>My Borrowed Books</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Due Date</th>
    <th>Actions</th>
  </tr>
  <% @borrowings.each do |borrowing| %>
    <tr>
      <td><%= borrowing.book.title %></td>
      <td><%= borrowing.due_date %></td>
      <td>
        <%= button_to 'Return', return_book_path(borrowing.book), method: :post %>
      </td>
    </tr>
  <% end %>
</table>
